@charset "UTF-8";

* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
}

#lang-img {
    width: 50px;
    opacity: 1;
    transition: opacity .5s;
}

#lang-img:hover {
    opacity: 0.3;
    transition: opacity .2s;
}

p {
    color: red;
}